/* Estilo exclusivo para a página de login */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa; /* Fundo neutro */
  margin: 0;
}

.login-box {
  background: white;
  width: 400px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-box h2 {
  color: #333;
  margin-bottom: 10px;
}

.login-box p {
  color: #777;
  margin-bottom: 20px;
}

.error {
  color: red;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
}

.form-group input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-button:active {
  transform: scale(0.98);
}
