/* Estilo para o menu principal */
.menu {
  width: 220px;
  background-color: #3c4349; 
  color: white;
  min-height: calc(100vh - 50px);
  position: fixed;
  left: 0;
  top: 50px; 
  transition: all 0.5s;
  z-index: 1;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 21px;
  box-sizing: border-box;
  font-weight: 500;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 70px;
}

.menu.closed {
  left: -220px;
}

.site {
  margin-left: 220px;
  transition: margin-left 0.5s;
  padding-top: 50px;
  width: calc(100% - 220px);
}

.site.closed {
  margin-left: 0;
  width: 100%;
}

.menu .menu-content {
  list-style-type: none;
  padding: 5px;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.logo-img {
  width: 100%;
  display: block;
  margin-top: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
}

.logo-img img {
  width: 30%;
  display: block;
}

.menu .menu-content .link-menu {
  color: white;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 0;
  transition: all 0.2s ease;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 4px;
}

.menu .menu-content .link-menu.active, 
.menu .menu-content .link-menu:hover {
  background-color: #e0e0e0;
  color: #2c3e50;
}


.menu .menu-content .link-menu i {
  font-size: 18px;
  margin-right: 10px;
}

.menu .menu-content .link-menu span {
  margin-left: 0;
}


.submenu {
  list-style: none;
  padding-left: 0;
}

.submenu-title {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  background: #4a5159;
  transition: background 0.3s;
  color: white;
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 4px;
}

.submenu-title:hover {
  background: #555c64;
}

.submenu-content {
  list-style: none;
  padding-left: 0;
  margin: 0;
  background: #3c4349;
  transition: max-height 0.3s;
  overflow: hidden;
}

.submenu-content li {
  padding-left: 20px;
}

.submenu-content .link-menu {
  padding-left: 35px;
  color: #b5b5b5;
}

.submenu-content .link-menu:hover {
  background-color: #4a5159;
  color: white;
}

.bi-chevron-up, .bi-chevron-down {
  margin-left: auto;
  transition: transform 0.3s;
}


.navbar {
  position: fixed;
  top: 0;
  height: 50px;
  z-index: 2;
  padding: 5px 20px;
  background-color: #343a40; 
  display: flex;
  align-items: center;
  box-shadow: 2px 1px 4px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.btn-menu {
  background-color: transparent;
  border: none;
  color: #f0f1f2;
  font-size: 25px;
  cursor: pointer;
}

.btn-menu:hover {
  background-color: #34495e; 
  color: #ffffff;
}


@media (max-width: 768px) {
  .menu {
    width: 220px;
    left: -220px;
  }

  .menu.opened {
    left: 0;
  }

  .site {
    margin-left: 0;
    width: 100%;
    padding-top: 50px;
  }

  .navbar {
    width: 100%;
  }

  .menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .menu.opened + .menu-overlay {
    display: block;
  }
}
